body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/* Medidas absolutas
    cm, mm, in, px, pt, pc */

/* Medidas relativas
    em, ex, rem, vw, vh, % */

/* Geralemente 16px é igual a 1em */

/* weigth = peso , width = largura, heidth = altura */

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}